* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #8f4a14;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header .logo {
  font-size: 1.8em;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover,
header nav ul li a.ativo {
  text-decoration: underline;
}

body {
  padding-top: 70px;
}

.hero-section {
  background: #d87700;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.hero-section h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-section .btn {
  background-color: #fff;
  color: #b66700;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero-section .btn:hover {
  background-color: #f3e3d0;
}

.produto-section {
  padding: 60px 20px;
  background-color: #f1f1f1;
}

.produto-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #d0810ca5;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produto-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.produto-card img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto-card h3 {
  margin-bottom: 5px;
  color: #8f4a14;
}

.produto-card p {
  color: #b66d00;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-adotar {
  background-color: #d87700;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-adotar:hover {
  background-color: #a35a10d8;
}

footer {
  background-color: #a35a10d8;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .produtos {
    flex-direction: column;
    align-items: center;
  }

  .produto-card {
    width: 90%;
    max-width: 300px;
  }
}
